@model BangazonWeb.ViewModels.ProductList

@{
    ViewData["Title"] = "Product Listing";
}

<h2 class="top-buffer">@ViewData["Title"]</h2>

@foreach (var product in Model.Products)
{
    <div class="row">
        <div class="col-md-6">@Html.DisplayFor(modelItem => product.Description)</div>
        <div class="col-md-2">@Html.DisplayFor(modelItem => product.DateCreated)</div>
        <div class="col-md-2">@Html.DisplayFor(modelItem => product.Price)</div>
        <div class="col-md-2">
            <a asp-action="Detail" asp-route-id="@product.ProductId">Details</a>
        </div>
    </div>
}